/*EuquiryForm.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9f4;
    margin: 0;
    padding: 0;
  }
  
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1500px;
    background-image: url('../assets/enquirybg.png');
    background-size: cover;
    background-position: center;
  }
  
  
  .contact-form {
    background-color: #7d9481;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
  }
  
  .contact-form h2 {
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form-group textarea {
    resize: none;
    height: 100px;
  }
  
  .send-button {
    width: 100px;
    padding: 10px;
    background-color: #4b6a56;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    float: right;
  }
  
  .send-button:hover {
    background-color: #3d5647;
  }
  
  .contact-info {
    margin-top: 20px;
    color: #ffffff;
    text-align: right;
    font-size: 14px;
  }
  
  .contact-info strong {
    color: #000000;
  }
  